[Unit]
Description=Omaha OntoCenter API Service
After=network.target

[Service]
Type=simple
User=www-data
WorkingDirectory=/var/www/omaha_ontocenter/backend
Environment="PATH=/var/www/omaha_ontocenter/venv/bin"
ExecStart=/var/www/omaha_ontocenter/venv/bin/uvicorn app.main:app --host 0.0.0.0 --port 8000
Restart=always

[Install]
WantedBy=multi-user.target
